.Recipe{
    width: 100%;
    height: auto;
  
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    text-align: center;
   
   
}
.RecipeAll{
    margin-top: 3rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.Recipe:hover{
    background-color: salmon;
    cursor: pointer;
    
}

/* .RecipePhotoContainer{
   width:  100%;
} */

.RecipePhoto{
    width: auto ;
    height: 10vh;
    margin: 1rem;
}
 
.RecipeTitle{
    margin: 1rem;
    
    width: 70%;
    font-weight: 700;
    font-size: large;
}

.RecipeHttp{
    text-decoration: none;

}


@media(min-width: 500px){
    .Recipe{
        width: 100%;
        margin-bottom: 2rem;
        margin-top: 1rem;
       
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        justify-items: center;
       
       
    }
    .RecipeAll{
        margin-top: 4rem;
        display: flex;
        width: auto;
        flex-wrap: wrap;
    }
    
 
    
    /* .RecipePhotoContainer{
       width:  100%;
    } */
    
    .RecipePhoto{
        width: auto ;
        height: 30vh;
        margin-top: 2rem;
    }
     
    .RecipeTitle{
        margin: 1rem 0.5rem;
        padding-left: 2rem;
        height: 5vh;
        width: 70%;
        font-weight: 700;
        font-size: large;
    }
    
}