.Recipe{
    width: 100%;
    height: auto;
    margin: 0.5rem 0;
    background-color: white;
    display: flex;
    align-items: center;
   
}
.RecipeAll{
    margin-top: 5rem;;
}

.Recipe:hover{
    background-color: salmon;
    cursor: pointer;
    
}

.RecipePhotoContainer{
   width:  30%;
}

.RecipePhoto{
    width: auto ;
    height: 10vh;
    margin-left: 0;
}
 
.RecipeTitle{
    margin-left: 1rem;
    justify-content: center;
}



@media(min-width: 1170px){
    .Recipe{
        height: 35vh;
    }
    
    .RecipePhoto{
        width: auto ;
        height: 30vh;
        margin-left: 3rem;;
    }

    .RecipeTitle{
        margin-left: 2rem;;
    }
}