.Recipe{
    width: 100%;
    height: auto;
  
    background-color: white;
    display: flex;
  
    justify-content: center;
    justify-items: center;
    text-align: center;
   
   
}
.RecipeAll{
    margin-top: 4rem;
   margin-right: 2rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.Recipe:hover{
    background-color: salmon;
    cursor: pointer;
    
}

/* .RecipePhotoContainer{
   width:  100%;
} */

.RecipePhoto{
    width: auto;
    height: 10vh;
    margin: 1rem;
}
 
.RecipeTitle{
    margin-top: 1rem;
   
    width: 100%;
    font-weight: 700;
    font-size: large;
}

.RecipeHttp{
    text-decoration: none;

}

.RecipeBottom{
    width: 60vw;
   
    display: flex;
    flex-direction: column;
    justify-content: start;;
}

.RecipeTop{
    width: 40vw;
    display: flex;
    justify-content: start;;
}


@media(min-width: 800px){
    .Recipe{
        width: 100%;
        height: auto;
        margin: 1rem;
       
       
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        justify-items: center;
       
       
    }
    .RecipeAll{
        margin-top: 4rem;
        display: flex;
        width: 100%;
        margin-right:0;
        flex-wrap: wrap;
    }
    
 
    
    /* .RecipePhotoContainer{
       width:  100%;
    } */
    
    .RecipePhoto{
        width: auto ;
        height: 30vh;
        margin-top: 2rem;
    }
     
    .RecipeTitle{
      
        height: 5vh;
        width: 70%;
        font-weight: 700;
        font-size: large;
    }

    .RecipeBottom{
        width: 100%;
       
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    
    .RecipeTop{
        width: 100%;
        display: flex;
        flex-direction: column;
       align-items: center;
       justify-items: center;
    }

    
}