
.ToggleButton1{
    height: 5px;
      width: 45px;
      background-color: white;
      border: 1px solid white;
      border-radius: 10px;
      position: absolute;
      top: 1.4rem;
      left: 20px;
    }
    
    .ToggleButton2{
        height: 5px;
      width: 45px;
      background-color: white;
      border: 1px solid white;
      border-radius: 10px;
      position: absolute;
      top: 2rem;
      left: 20px;
    }
    
    .ToggleButton3{
        height: 5px;
        width: 45px;
        background-color: white;
        border: 1px solid white;
        border-radius: 10px;
        position: absolute;
        top: 2.6rem;
        left: 20px;
    }

/* @media(min-width: 500px){
    .Toggle{
        display: none;
    }
} */

.Toggle:hover{
    cursor: pointer;
}