.Confirm{
   
        top:0;
        left: 0;
        width: 100%;
        position: absolute;
        overflow: hidden;
        z-index: 400;
        background-color: white;
        box-shadow: 1px 1px 1px black;
        border: 1px solid #ccc;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    
}

.ConfirmButtons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}