.Logo{
    background-color: salmon;
    padding: 8px;
    height: 100%;
 
}

.Logo img{
    height: 100%;
}

@media(min-width: 500px){
    .Logo{
        position: absolute;
        top: 0rem;
        left: 2rem;
    }
}


