.NavigationItem{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;
}

.NavigationItem a{
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;

}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
    background-color: black;
    color: white;

}

/* @media(min-width: 500px){
    .NavigationItem{
        margin: 0 0;
        padding-top: 0.5rem;
        display: block;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigationItem a{
        color: white;
        width: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
       
    
    }
} */

