.Button{
    background-color:transparent;
    border: none;
    color:red;
    outline: none;
    cursor: pointer;
    font: inherit;
  padding: 1rem;
 
    font-weight: bold;
    width: 10vw;
    
}

.Button:first-of-type{
    margin-left: 0;
    padding-left: 0;
}

.Success{
    color: green;
}

.Danger{
    color: red;
}