.NotesButton{
  border: none;
  background-color: white;
}

.NotesImg{
    width: 30px;
    height: 30px;
}

.NotesButton:hover{
 cursor: pointer;
 
}
.NotesButton:focus{
    outline: none;
}

.NotesButton:hover::after{
content: "Dodaj notatkę";
position: absolute;
width: 5rem;
height: 2rem;
background-color:salmon;
color: white;
border-radius: 30px 10px 10px 30px;

}