 .ButtonContainer{
   width: 30px;
   height: 30px;;
   margin-top:0;
 }

 .ButtonContainer:focus{
  outline: none;
}
 .Heart{
        
        border: none;
        display: inline-block;
        height: 20px;
        margin: 0 10px;
        position: relative;
        
        transform: rotate(-45deg);
        width: 20px;
      }
      
      .Heart:before,
      .Heart:after {
        content: "";
        
        border-radius: 50%;
        height: 20px;
        position: absolute;
        width: 20px;
      }
      
      .Heart:before {
        top: -10px;
        left: 0;
      }
      
      .Heart:after {
        left: 10px;
        top: 0;
      }

      .Heart:hover{
        cursor: pointer;
      }

      .Heart:focus{
        outline: none;
    }

 .HeartFavorite{
    background-color: red;
 }

 .HeartFavorite:before,
 .HeartFavorite:after {
   background-color: red;
 }

 .HeartUnFavorite{
     background-color: wheat;
     
 }

 .HeartUnFavorite:before,
 .HeartUnFavorite:after {
   background-color: wheat;
  
 }