.NavigationItems{
    margin-top: 3rem;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    
    height: 100%;
}

@media(min-width: 500px){
    .NavigationItems{
        flex-flow: row;
        margin-top: 0;
        align-self: flex-end;
       
       
    }
}