.RecipeNotes{
    top:0;
    left: 0;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 400;
    background-color: white;
    box-shadow: 1px 1px 1px salmon;
    border: 1px solid #ccc;
}